@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --color0 :#2D2D2B;
  --bg-colo0 : #EAE6DF

}
*{
  font-family: 'Raleway',sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body{
  background-color: var(--bg-colo0) ;
}